{#
/**
 * @file
 * Timeline template.
 */
#}

{% if items is not empty and items is iterable %}
  <ul>
    {% for item in items %}
      <li{{ limit > 0 and loop.index > limit ? ' class="over-limit"' : '' }}>
        <div>{{ item.label }}</div>
        <div>{{ item.title }}</div>
        <div>{{ item.body }}</div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if limit > 0 %}
  <button>{{ show_more }}</button>
{% endif %}
